---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero';
import Summary from '../components/Summary';
import TechnicalSkills from '../components/TechnicalSkills';
import Experience from '../components/Experience';
import Education from '../components/Education';
---

<Layout title="Crazy | Backend Developer">
	<main class="container mx-auto px-6 py-20 sm:py-32 max-w-5xl">
        <div class="min-h-[calc(100vh-5rem)] sm:min-h-[calc(100vh-8rem)] flex flex-col justify-center">
            <Hero client:load />
            <Summary client:visible />
        </div>
        <div class="space-y-16">
            <TechnicalSkills client:load />
            <Experience client:load />
            <Education client:load />
        </div>
    </main>
</Layout>
